* {
	box-sizing:border-box;
}

body {
	background-color: #fafafa;
	color:#4a4a4a;

}

img {
	max-width: 100%;
}

.clearfix::after {

	content:"";
	display: table;
	clear:both;
}

nav ul, #portfolio + ul {

	margin:0px;
	padding:0px;
	list-style-type: none;

}

#portfolio + ul li p {

	margin-bottom:30px;
}


h1,h2,h3 {
	font-family: 'Josefin Sans', sans-serif;

}

p,nav ul li a {
		font-family: 'Lato', sans-serif;
}

h1,h2,h3,p {

	text-align: center;
}

p {
	line-height:1.5;
}


header nav  li a {
	text-align: center;
	background-color:#fff;
	width: 100%;
	display:block;
	padding:10px;
	margin: 10px 0 10px 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
	color:#4a4a4a;

}


header a:link {
	
	color:#4a4a4a;
	transition-duration:.5s;
	transition property: background-color, color;


}

header a:hover {
	background-color: #f78460;
	color:#fff;


}



footer nav li  {
	display: inline-block;
	font-weight: bold;
}

footer nav li a {
	text-decoration: none;
	color:#4a4a4a;

}




footer nav li:nth-child(2){
	float:right;
}


.container {
	padding: 20px 10px;
	max-width: 100%;
}

.gallery {
		background-color: #fff;

}

.profile {

	text-align: center;
}

.contact {

	border-bottom: 1px solid  #e7e7e7;
	padding-bottom: 10px;

}



#portfolio ~ div {
	background-color: #fff;
}


.skillsSection {
	text-align: center;
}

.skillList{

	list-style-type: none;
	margin: 0px; padding: 0px;

}

.skillList  li {
	display: inline;

}

