/* Base Styles
   ========================================================================== */

/*
 * Setting up default look of site
 */

* {
	box-sizing:border-box;
}

.clearfix::after {

	content:"";
	display: table;
	clear:both;
}

a, .footerMenu {
	text-decoration: none;
	font-weight:bold;
	text-transform: uppercase;
}

a:link, a:visited {
	color:#4a4a4a;
}

body {
	background-color: #fafafa;
	color:#4a4a4a;
}

h1{
	margin: 0px;
}

h2{
	padding:30px 0;
}

header {
	padding: 20px 0;
}

.wrapper {
	min-height: calc(100vh-60px);
}


footer{
	padding: 30px 0;

}


h1,h2,h3 {
	font-family: 'Josefin Sans', sans-serif;

}

p,nav, ul {
		font-family: 'Lato', sans-serif;
}

img {
	max-width:100%;
}



.container {
	padding: 0 1em;
}

p {
	line-height:1.5em;
}


.gallery {
	background-color:#fff;
	padding-bottom:30px;
}


.contact, .skills {
	border-bottom: 1px solid  #e7e7e7;
	padding-bottom:30px;
}

.footerMenu{
	display: none;
}


/* Media Query
   ========================================================================== */

/*
 * Setting up Media Query
 */

@media (min-width:320px){


	.container {
		text-align: center;
		max-width:768px;
		margin: 0 auto;
	}

	header li {
		margin:1em 0;

	}

	.menu a {

		width:100%;
		padding:1em;
		background-color: #fff;
		display: inline-block;
		color:#4a4a4a;
		transition-property: background-color, color;
		transition-duration:.5s;
	}


	.menu a:hover {

		background-color: #f78460;
		color:#fff;

	}


	.skillList  li{

		margin: 10px 0;

	 }




.titleFooter {
	display: inline-block;
	float:left;
}


.footerLink{
	display: inline-block;
	float: right;
}






}

@media (min-width: 768px) {


	.container {
		max-width:768px;
		margin: 0 auto;
	}


	header li {
		display: inline-block;
	}


	.menu a {

		background-color: inherit;

	}

	.menu a:hover {
		background-color: inherit;
		color:#f78460;
	}

	.profile  img{

		float:right;
		margin:0 0 10px 10px;

	}

	.profile {
		text-align: inherit;
	}


	.gallery li{

		display: inline-block;
		width: 45%;
		margin-right:1em;

	}

	.footerLink {

	  display: none;
	}

	.footerMenu  {
		display: block;
		text-align: right;
	}


	.footerMenu li {
		display:inline-block;
		padding-left: 10px;

	}


}



@media (min-width: 1024px) {

	h1 {
		float: left;
		display: inline-block;
	}

	.menu  {
		float: right;
		
	}

	.menu li {
		padding: 0;
		margin: 0;
	}

	.container {
		max-width:95%;
		margin: 0 auto;
	}


	.profile p{
		font-size: 1.5em;
	}


	.profile  img{

		float:right;
		margin:0 0 10px 10px;

	}

	.gallery li{

		display: inline-block;
		width: 30%;
		margin-right:1em;

	}


	.skillList li{
		display: inline-block;
	}



}