/* Base Styles
   ========================================================================== */

/*
 * Setting up default look of site
 */

* {
	box-sizing:border-box;
}

body {
	background-color: #fafafa;
	color:#4a4a4a;
}

h1 {
	margin: 0px;
}

header {
	padding: 10px 0;
}

.wrapper {
	min-height: 100vh;
}


footer nav ul{

}


h1,h2,h3 {
	font-family: 'Josefin Sans', sans-serif;

}

p,nav, ul {
		font-family: 'Lato', sans-serif;
}

img {
	max-width:100%;
}



.container {
	padding: 0 1em;
}

p {
	line-height:1.5em;
}


.gallery {
	background-color:#fff;
}




/* Media Query
   ========================================================================== */

/*
 * Setting up Media Query
 */

@media (min-width:320px){


	.container {
		text-align: center;
		max-width:320px;
		margin: 0 auto;
	}

	.menu {

	}



	


}