* {
	box-sizing:border-box;
}

body {
	background-color: #fafafa;
}

img {
	max-width: 100%;
}

nav ul, #portfolio + ul {

	margin:0px;
	padding:0px;
	list-style-type: none;

}

h1,h2,h3,p {

	text-align: center;
}

p {
	line-height:1.2;
}


.container {
	padding: 10px;
	max-width: 100%;
}

.gallery {
		background-color: #fff;

}

.profile {

	text-align: center;
}

.contact {

	border-bottom: 1px solid  #e7e7e7;

}






#portfolio ~ div {
	background-color: #fff;
}


