* {
	box-sizing:border-box;
}

body {
	background-color: #fafafa;
}

img {
	max-width: 100%;
}

nav ul, #portfolio + ul {

	margin:0px;
	padding:0px;
}

h1,h2,h3,p {

	text-align: center;
}

p {
	line-height:1.2;
}


